.bg-nav{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
.mt-80{
    margin-top:70px;
}


.mt-130{
    margin-top:130px;
}
.ml-100{
    margin-left:100px;
}

.ml-10{
    margin-left:50px;
}
.mr-10{
    margin-right:50px;
}
.bg.color{
    background-color: #1D2671;
}
